<%- include('../partials/header.ejs') %>
<% if (user_email.length > 0) { %>
    <p>You are logged in with email: <%= user_email %></p>
    <a href="/auth/logout">Logout</a>
    <br></br>
    <h2>You are already logged in!</h2>
<% } else { %>
    <h1>Login!</h1>
    <form method="POST" action="/auth/login">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" />
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Login!" />
    </form>
    <% if (message.length > 0) { %>
        <p style="color:red"><%= message %></p>
    <% } %>
    <br><a href="/auth/registration">Not user, press here to register!</a></br>
<% } %>
<%- include('../partials/footer.ejs') %>