<%- include('../partials/header.ejs') %>
<h1>Login!</h1>
<form method="POST" action="/auth/login">
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Login!" />
</form>
<br><a href="/auth/registration">Not user, press here to register!</a></br>
<%- include('../partials/footer.ejs') %>