<%- include('../partials/header.ejs') %>
<% if (user_email.length > 0) { %>
    <p>You are logged in with email: <%= user_email %></p>
    <a href="/auth/logout">Logout</a>
    <br></br>
<% } %>
<h1>Reporting page</h1>
<% if (!morning_reporting_done) { %>
    <br><a href="/behavior/reporting/morning">Take me to morning reporting!</a></br>
<% } else { %>
    <br><a href="/behavior/reporting/morning">You have already completed morning reporting for today, click here to change the report</a></br>
<% } %>
<% if (!evening_reporting_done) { %>
    <br><a href="/behavior/reporting/evening">Evening reporting is better for me just now!</a></br>
<% } else { %>
    <br><a href="/behavior/reporting/evening">You have already completed evening reporting for today, click here to change the report</a></br>
<% } %>
<%- include('../partials/footer.ejs') %>