<%- include('./partials/header.ejs') %>
<h1>Life Monitor App</h1>
<br><a href="/auth/login">Hi user! Please start by signing in!</a></br>
<br><a href="/auth/registration">Whaat! You are not user yet? Register now</a></br>
<%- include('./partials/footer.ejs') %>